<%= content_for :slides do %>
  <div><%= image_tag('tracktor.png')%></div>
  <div><%= image_tag('engine.png')%></div>
<% end %>

<%= content_for :title do %>
  About Us
<% end %>

<%= content_for :header do %>
  About Us
<% end %>

<div id="about_div" class="overview">
Liaoning 518 Internal Combustion Engine Fittings Co., Ltd., a Sino-foreign joint venture, lies in the
northeast China. It is a key enterprise to produce fittings and forgings for automobiles, internal-combustion
engines and engineering machinery and marine crankshafts in China.
<br /><br />
We, the Company were set up in 1951 and the first to launch forged steel crankshaft in China. In 1957 we
produced the 1st wheeled tractor in China all by ourselves. In 1992 we imported three automatic forging
lines of world level from Germany, e.g. electric & hydraulic counter blow hammer etc. In December of 2003
we became a Sino-foreign joint venture. Now finished crankshaft and its forging are our leading products,
and they occupy the most market share in the domestic enterprises. We own automatic forging lines, oil
hydraulic presses lines and machining lines of world level.
<br /><br />
We own 16 top level production lines specialized in finished crankshaft. The forging capacity is over
70,000t annually, finished crankshafts of all kinds are 700,000 pieces, and marine crankshafts are over 5000
pieces. Our supply amount is the most in Weicai Power, Shanghai Diesel Engine, FAW Jiefang Automotive
Company Ltd. Dalian Diesel Engine Works, Chongqing Cummins Engine Co., Ltd. LOVOL etc.,Our
products are sold to over 20 countries, such as Europe, America, Southeast Asia etc. We are proved to be the
largest-scale manufacturer of forged steel crankshaft in China.
<br /><br />
We possesses modern die machining centers and advanced heat treatment production lines. It has been
certified to “ISO9002: version 1994”, “ISO9001:2000”, and ISO/TS16949 successively.
<br /><br />
In 2010 our gross domestic revenue is 17 billions RMB. If you search the internet now days every company
you can find seems to claim they are “Leading Manufacture/Agent” in this market, but how reliable are
these claims? Because most of them can say or post anything on the website without worry about the
consequence of intentionally lying or misleading. And it’s very difficult for people to verify the accuracy of
those claims as well. We do believe the quality of our crankshafts will speak for ourselves. There are only a
handful manufactures all over the world have the capacity and ability to make the 3ton and above heavy duty
crankshafts. We are proud to be one of them. In fact we are the largest heavy duty crankshaft manufacture in
China. If you come to visit our plant we will show you the true meaning of “Leading”.
<br /><br />
Because of the huge success in domestic market, we want to start competing in global market. Now we are
focus to develop our market share in USA, North and South America. We had been attending the APPEX
show in Las Vegas since 2008. Our top selling products are Cummins K50, K38, K19, 855, 6CT, M11,
<br /><br />
Caterpillar 3306. All of our crankshafts come with top quality and unbeatable price. We are looking for
partners to join us on this exciting journey.
</div>