<%= content_for :slides do %>
  <div><%= image_tag('contact_us.png')%></div>
<% end %>

<%= content_for :title do %>
  Contacts
<% end %>

<%= content_for :meta_info do %>
  <meta name="description" content=" Liaoning 518 Internal Combustion Engine Fittings Company provides high quality crankshafts for diesel engines, Cummins Crankshafts, Cummins K50, Cummins K38, Cummins K19, Caterpillar crankshafts, Perkins Crankshafts, DEUTZ crankshafts, Steyr Crankshafts, ISUZU Crankshafts and much more.">
  <meta name="keywords" content=" Cummins K50 crankshaft, Cummins K38 crankshaft, Cummins K19 crankshaft, Cummins NT855 crankshaft, Cummins M11 crankshaft, Cummins 6CT crankshaft, CAT3306 Crankshaft, CAT3066 Crankshaft, diesel engine, diesel engine parts, diesel generator crankshaft, engine crankshaft, diesel engine crankshaft, crankshaft, marine crankshaft, marine diesel, Marine engine parts, crank, cranks, China marine diesel engine crankshaft manufacturer, China marine crankshaft manufacturer, forged steel crankshaft, Rebuilt diesel engines, cummins crankshaft, cummins crank, caterpillar crankshaft, cummins engine parts">
<% end %>

<%= content_for :header do %>
  How to Find Us
<% end %>

<%= content_for :js do %>
  <script> App.loadContent('#contacts .info', "http://www.heyook.com/dieselcrankshafts.com/contacts.html"); </script>
<% end %>

<div id="contacts" class="overview">
  <div class="info">
  </div>
  <br />
  <dl>
    <dt>Submit your inquery here!</dt>
    <dd>
      <div id="inquery-form">
        <%= form_tag('/inquery') do -%>
          <%= label_tag 'name'%><br />
          <%= text_field_tag 'name'%> <br />
          <%= label_tag 'email'%><br />
          <%= text_field_tag 'email'%><br />
          <%= label_tag 'company name'%><br />
          <%= text_field_tag 'company'%><br />
          <%= label_tag 'subject'%><br />
          <%= text_field_tag 'subject'%> <br />
          <%= label_tag 'content'%><br />
          <%= text_area_tag 'body'%><br />
          <%= submit_tag 'Submit' %><br />
        <% end -%>
      </div>
    </dd>
  </dl>
  
  <div id="map" style="width:400px;text-align:center;margin-top:20px;">
    <a rel="facebox" href="images/map.png"><img src="/images/map.png" style="width:170px; height:160px;"/></a>
  </div>
  
</div>