<%= content_for :slides do %>
  <div><%= image_tag('equipments/Main.jpg')%></div>
<% end %>

<%= content_for :title do %>
  Equipments
<% end %>

<%= content_for :meta_info do %>
  <meta name="description" content=" Liaoning 518 Internal Combustion Engine Fittings Company provides high quality crankshafts for diesel engines, Cummins Crankshafts, Cummins K50, Cummins K38, Cummins K19, Caterpillar crankshafts, Perkins Crankshafts, DEUTZ crankshafts, Steyr Crankshafts, ISUZU Crankshafts and much more.">
  <meta name="keywords" content=" Cummins K50 crankshaft, Cummins K38 crankshaft, Cummins K19 crankshaft, Cummins NT855 crankshaft, Cummins M11 crankshaft, Cummins 6CT crankshaft, CAT3306 Crankshaft, CAT3066 Crankshaft, diesel engine, diesel engine parts, diesel generator crankshaft, engine crankshaft, diesel engine crankshaft, crankshaft, marine crankshaft, marine diesel, Marine engine parts, crank, cranks, China marine diesel engine crankshaft manufacturer, China marine crankshaft manufacturer, forged steel crankshaft, Rebuilt diesel engines, cummins crankshaft, cummins crank, caterpillar crankshaft, cummins engine parts">
<% end %>

<%= content_for :header do %>
  Equipments
<% end %>

<div id="equipments" class="overview">
  <ul class="equipments">
    <li><%= image_tag('equipments/G_5000t.jpg')%><br/><div>Germany 5000T Press Production Line</div></li> 
    <li><%= image_tag('equipments/G_Hammer.jpg')%><br/><div>Germany Electric & Hydraulic Counter Blow Hammer Production Line</div></li>
    <li><%= image_tag('equipments/J_Grinder.jpg')%><br/><div>Japan TOYODA NC Grinder</div></li>
    <li><%= image_tag('equipments/G_VDF.jpg')%><br/><div>Germany VDF-400 NC Lathe</div></li>
    <li><%= image_tag('equipments/G_AEG.jpg')%><br/><div>Germany AEG Quenching Machine</div></li>
    <li><%= image_tag('equipments/IPSEN.jpg')%><br/><div>IPSEN Nitriding Furnace</div></li>
    <li><%= image_tag('equipments/G_Meter.jpg')%><br/><div>Germany Profile Meter</div></li>
    <li><%= image_tag('equipments/G_measure.jpg')%><br/><div>Germany 3-Dimensional Measuring Machine</div></li>
  </ul>
</div>