<%= content_for :slides do %>
  <div><%= image_tag('equipments/4.png')%></div>
<% end %>

<%= content_for :title do %>
  Equipments
<% end %>

<%= content_for :header do %>
<% end %>

<div id="equipments" class="overview">
  <ul class="equipments">
    <li><%= image_tag('equipments/1.png')%><br/><span>Taiwanese EUMA Machining Center</span></li> 
    <li><%= image_tag('equipments/2.png')%><br/><span>US Cincinnati Machining Center</span></li>
    <li><%= image_tag('equipments/3.png')%><br/><span>NC Electric Sparking Machine</span></li>
    <li><%= image_tag('equipments/4.png')%><br/><span>Plano-Boring and Milling Machining Center</span></li>
  </ul>
</div>