<%= content_for :slides do %>
  <div><%= image_tag('equipments/Main.jpg')%></div>
<% end %>

<%= content_for :title do %>
  Equipments
<% end %>

<%= content_for :header do %>
  Equipments
<% end %>

<div id="equipments" class="overview">
  <ul class="equipments">
    <li><%= image_tag('equipments/G_5000t.jpg')%><br/><div>Germany 5000T Press Production Line</div></li> 
    <li><%= image_tag('equipments/G_Hammer.jpg')%><br/><div>Germany Electric & Hydraulic Counter Blow Hammer Production Line</div></li>
    <li><%= image_tag('equipments/J_Grinder.jpg')%><br/><div>Japan TOYODA NC Grinder</div></li>
    <li><%= image_tag('equipments/G_VDF.jpg')%><br/><div>Germany VDF-400 NC Lathe</div></li>
    <li><%= image_tag('equipments/G_AEG.jpg')%><br/><div>Germany AEG Quenching Machine</div></li>
    <li><%= image_tag('equipments/IPSEN.jpg')%><br/><div>IPSEN Nitriding Furnace</div></li>
    <li><%= image_tag('equipments/G_Meter.jpg')%><br/><div>Germany Profile Meter</div></li>
    <li><%= image_tag('equipments/G_measure.jpg')%><br/><div>Germany 3-Dimensional Measuring Machine</div></li>
  </ul>
</div>