<%= content_for :slides do %>
  <div><%= image_tag('tractor2.jpg')%></div>
  <div><%= image_tag('tracktor.jpg')%></div>
  <div><%= image_tag('ship.jpg')%></div>
  <div><%= image_tag('engine.jpg')%></div>
<% end %>

<%= content_for :meta_info do %>
  <meta name="description" content=" Liaoning 518 Internal Combustion Engine Fittings Company provides high quality crankshafts for diesel engines, Cummins Crankshafts, Caterpillar crankshafts, Perkins Crankshafts, DEUTZ crankshafts, Steyr Crankshafts, ISUZU Crankshafts and much more.">
  <meta name="keywords" content=" tractor, part, parts, engine, engine parts, diesel engine, diesel engine parts, diesel generator crankshaft, engine crankshaft, diesel engine crankshaft, crankshaft, marine crankshaft, marine diesel, Marine engine parts, crank, cranks, China marine diesel engine crankshaft manufacturer, China marine crankshaft manufacturer, forged steel crankshaft, Rebuilt diesel engines, cummins crankshaft,  cummins crank, caterpillar crankshaft, cummins engine parts">
<% end %>

<%= content_for :title do %>
  Home Page
<% end %>

<%= content_for :header do %>
  Home Page
<% end %>

<%= content_for :js do %>
  <script> App.loadContent('#main_div', "http://heyook.com/dieselcrankshafts.com/main.html"); </script>
<% end %>

<div id="main_div" class="overview">
  
</div>