<%= content_for :slides do %>
  <div><%= image_tag('tractor2.jpg')%></div>
  <div><%= image_tag('tracktor.jpg')%></div>
  <div><%= image_tag('ship.jpg')%></div>
  <div><%= image_tag('engine.jpg')%></div>
<% end %>

<%= content_for :title do %>
  Home Page
<% end %>

<%= content_for :header do %>
  Home Page
<% end %>

<div id="main_div" class="overview">
  Liaoning 518 Internal Combustion Engine Fittings Co., Ltd., a Sino-foreign joint venture, lies in the
  northeast China. It is a key enterprise to produce fittings and forgings for automobiles, internal-combustion
  engines and engineering machinery and marine crankshafts in China.
  <br /><br />
  We, the Company were set up in 1951 and the first to launch forged steel crankshaft in China. We own 16
  top level production lines specialized in finished crankshaft. The forging capacity is over 70,000t annually,
  finished crankshafts of all kinds are 700,000 pieces, and marine crankshafts are over 5000 pieces. In 2010
  our gross domestic revenue is 17 billions RMB. As of May 2011 our monthly finished crankshafts reach
  60,000 pieces.
  <br /><br />
  We possesses modern die machining centers and advanced heat treatment production lines. It has been
  certified to “ISO9002: version 1994”, “ISO9001:2000”, and ISO/TS16949 successively.
  <br /><br />
  We have software of Pro-E, AutoCAD and Vera CAD and all kinds of checking and measuring instruments
  and a testing center. Physical testing and chemical analysis of all kinds can be conducted.
  <br /><br />
  We had finished the product renewal of Euro Ⅲ emission standard. The product structure quickly turns from
  engineering machinery, railway, petroleum, mine engines etc. to marine engine. We are an OEM supplier for
  Doosan Group and Chongqing Cummins Engine Co., Ltd..
  <br /><br />
  We insist market-oriented principle all the time, satisfy our customers and provide them with the best service
  wholeheartedly.
</div>