<%= content_for :slides do %>
  <div><%= image_tag('engine.jpg')%></div>
<% end %>

<%= content_for :title do %>
  Knowledge Base
<% end %>

<%= content_for :meta_info do %>
  <meta name="description" content=" Liaoning 518 Internal Combustion Engine Fittings Company provides high quality crankshafts for diesel engines, Cummins Crankshafts, Cummins K50, Cummins K38, Cummins K19, Caterpillar crankshafts, Perkins Crankshafts, DEUTZ crankshafts, Steyr Crankshafts, ISUZU Crankshafts and much more.">
  <meta name="keywords" content=" Cummins K50 crankshaft, Cummins K38 crankshaft, Cummins K19 crankshaft, Cummins NT855 crankshaft, Cummins M11 crankshaft, Cummins 6CT crankshaft, CAT3306 Crankshaft, CAT3066 Crankshaft, diesel engine, diesel engine parts, diesel generator crankshaft, engine crankshaft, diesel engine crankshaft, crankshaft, marine crankshaft, marine diesel, Marine engine parts, crank, cranks, China marine diesel engine crankshaft manufacturer, China marine crankshaft manufacturer, forged steel crankshaft, Rebuilt diesel engines, cummins crankshaft, cummins crank, caterpillar crankshaft, cummins engine parts">
<% end %>

<%= content_for :header do %>
  Knowledge Base
<% end %>

<%= content_for :js do %>
  <script> App.loadContent('#news_updates', "http://www.heyook.com/dieselcrankshafts.com/robert.html"); </script>
<% end %>

<div id="know_div" class="overview">
  <h3 class='sub-header'>By Doug Kaufman</h3>
  <p>The crankshaft turns this linear motion into a rotating motion that provides power to move a vehicle forward, operate
  generators or otherwise give measurable activity.</p>
  <p>Whether in a gasoline or diesel-powered engine, the crankshaft is a key component. With diesels, the crank is typically
  thought of as bigger, heavier and harder to get in the aftermarket. Some preconceptions are factual, say experts, while
  others are unfounded.</p>
  <p>It’s true that crankshafts for heavy-duty truck, agricultural and industrial engines represent a significant investment for
  engine builders. Understanding the basics of their construction and repair characteristics can be important, even if heavy-
  duty diesel isn’t your key business segment. According to the 2009 Machine Shop Market Profile, the diesel engine
  segment continues to be popular</p>
  <p>Whether you’re looking at 3-cylinder mid-range diesels or huge locomotives, diesel crankshafts have some primary
  differences from their gasoline counterparts. “A gasoline engine uses a spark to ignite the fuel. A diesel engine, operating
  at a much higher compression ratio, uses the heat produced by compression to ignite the fuel,” explains Randy Madden,
  Quality Power Products. “Diesel engines typically have a longer stroke than the bore diameter, so to handle this load diesel
  crankshafts are much larger physically.<br/>
  <p>“Essentially, the range of crankshaft materials runs as follows,”  expands Madden.  “Billet steel, steel forgings, cast steel,
  nodular iron, malleable steel and (in some cases) cast iron. If we were to make one crankshaft design and reproduce it in all
  these materials, the order of strength would approximately follow this same list.”</p>
  <p>According to Jay Wagner of Mahle Clevite, “Gas cranks normally are cast iron and do not usually have hardened bearing
  surfaces. If they do have hardened surfaces they are more likely to be nitrated. Heavy-duty diesel cranks are forged steel
  and have hardened bearing surfaces (case hardened) with the most common form of hardening using the induction process.
  Filets on heavy-duty diesel cranks tend to be larger. That adds to the strength of the crankshaft.”
  Madden says induction surface hardening is a well-known and widely-used process in the global diesel engine
  manufacturing industry. “Initially, induction hardening was used primarily to harden selected surfaces, typically bearing
  journals, to improve their wear resistance. Today however, more manufacturers are recognizing induction hardening as a
  viable technology for improving the fatigue resistance of highly-stressed crankshafts,” he says. “This trend is particularly
  strong in the diesel engine industry where crankshafts are normally subjected to much higher operating stresses.
  Induction hardening and induction tempering are rapidly becoming the processes of choice for manufacturing crankshafts
  for diesel engines of all sizes.”</p>
  <p>Harder, more durable crankshafts are great when they’re running well, but what about when there’s a problem? These large
  cranks are expensive so it’s often a more viable option to regrind and repair worn or damaged cranks. However, the results
  of our Machine Shop Market Profile show that the average number of diesel crankshafts ground has fallen from 4 per
  month in 2005 to 2.5 per month in 2008. This may be due in part to the configuration of late model crankshafts in service.
  There have recently been cases, says Madden, where diesel OEs have changed cranks from a forging to a cast crank with
  rolled fillets. This has resulted in a limit of how much the crank can be reground to undersize.
  “On John Deere 300 engines, for example, the crank can only be reground to .010˝ undersize. If it’s worn more than that
  you have to replace it.”</p>
  <p>While .010˝ doesn’t seem like much, especially if you’re coming from an automotive perspective, Mahle’s Wagner says
  being aware of the limits is critical to this market segment.</p>
  “There is the very simple issue of what bearings are available for a crank,” he says. “A good policy for out-of-the ordinary
  shafts is don’t even start to grind them until you have the bearings in hand. More than one shop has ground a crank only to
  find there are no bearings available in that size anywhere in the world. Don’t assume the breaks will be a .010˝, .020˝, .030˝:
  some manufacturers jump directly from standard to .025˝.</p>
  <p>Even if bearings ARE available, you may not be able to safely repair the crankshaft until you answer three very important
  questions, particularly in the case of a damaged crank.
  “How bad is the damage?” asks Wagner. “If it is broken, that is pretty much a given for a replacement shaft. Likewise,
  if the shaft has experienced a bearing failure there is a good possibility the crank will have to be replaced, but that is
  predicated on several factors.”</p>
  <p>Three factors to consider following a heavy-duty bearing failure are:</p>
  <ul class='dot'>
    <li>How hot did the crank get during the failure? “Excessive heat is a problem because it can change the structure of the metal
    and the base metal can move from being ‘tough’ in nature to being ‘brittle,’” Wagner says. “Shafts can be reground to an
    undersize or built up but the change of the structure of the metal reduces the strength of the metal and breakage is likely.”</li>
    <li>How badly is it bent? “If the shaft does get hot during a bearing failure it will likely result in a bent crankshaft. You might
    want to consider it more of a kink because it is very pronounced at the point of the failure,” says Wagner. “There a number
    of ways to straighten a shaft, even if it is excessively bent. Most manufactures provide a maximum allowable tolerance.”</li>
    <li>Is the surface hardness within specs? Another factor with heat is it can change the hardness of the machined surface,
    Wagner explains. This can be determined with a variety of hardness-testing equipment. Too hard or too soft will usually
    sentence the crank to the scrap heap.</li>
  </ul>
  <p>“There are companies with very sophisticated equipment that can deal with the result of all the damage from excessive
  heat, but the list is small and it is many times simply an issue of cost of repair vs. new,” he says. “The higher the value of a
  crank the more work you can put into it. What you would do to fix a $30,000 crank may not make much sense on a $1,000
  crank.”</p>
  <p>Additional common causes of damage to diesel crankshafts include spun bearings, resulting in a loss of journal hardness;
  viscous dampeners wearing out, resulting in a broken crank; failure of the balance box assembly, resulting in a broken
  crank; and cracks in the journals.</p>
  <p>Madden explains that for the most part, cracks in the journal of a diesel crankshaft will prevent its repair. While some diesel
  cranks can be welded or chromed back to standard, it often becomes an issue of economics.
  “If you have to weld or rechrome a worn crankshaft, it costs so much that it is often less expensive to replace it with a new
  one – especially when you factor in freight charges to ship a crank both ways and core charges,” he
  While there is an all-too-common assumption that diesel crankshafts MUST  be repaired because replacements aren’t
  available, manufacturers say that isn’t necessarily true. In the heavy-duty arena, a wide variety of replacement crankshafts
  are available for Allis Chalmers, Case/IH, Caterpillar, Cont-inental, Cummins, Detroit Diesel, Ford, Isuzu, John Deere,
  Komatsu, Mack, Mitsubishi and Perkins, as well as other applications.</p>
  <p>Of course, performance is becoming an increasingly important part of the diesel marketplace as well, driven primarily by
  tractor and truck pulling as well as diesel drag racing. “High performance crankshafts probably have the most demand,” 
  says Madden. “These crankshafts are made in small quantities from billet steel by specialty manufacturers. People typically
  choose high performance diesel crankshafts because they want more stroke.”</p>
  <p>Whether your shop handles heavy-duty diesel engine repair, light or medium duty diesel service or you build engines
  designed to produce as much performance as possible, understanding the crankshaft’s importance in the equation – and
  your ability to alter that – can be a rewarding challenge.</p>
</div>