<%= content_for :slides do %>
  <div><%= image_tag('truck.jpg')%></div>
  <div><%= image_tag('truck3.jpg')%></div>
  <div><%= image_tag('engine.jpg')%></div>
<% end %>

<%= content_for :title do %>
  Diesel Crank Shafts Products
<% end %>

<%= content_for :header do %>
  Products
<% end %>

<div id="product_div" class="overview">
  Select links to filter products
  <ul id="filter_links">
    <% Brand.all.each do |b| %>
      <li><%= link_to_function b.name, 'Product.filter(this)', :id => dom_id(b) %></li>
    <% end %>
    <% Model.all.each do |b| %>
      <li><%= link_to_function b.name, 'Product.filter(this)', :id => dom_id(b) %></li>
    <% end %>
  </ul>
  <div class="images products" id="products_list">
    <%= render products %>
  </div>
  <div class="notice">Didn’t see what you are looking for? No problem, we can even custom make the crankshaft you want.</div>
</div>