<%= content_for :slides do %>
  <div><%= image_tag('products/CumminsM11.png')%></div>
  <div><%= image_tag('products/CUMMINSNT855.png')%></div>
  <div><%= image_tag('products/k38.png')%></div>
  <div><%= image_tag('products/k50.png')%></div>
<% end %>

<%= content_for :title do %>
  Diesel Crank Shafts Products
<% end %>

<%= content_for :header do %>
  Products
<% end %>

<div id="product_div" class="overview">
  <div class="text"></div>
  <br/>
  <div class="images products" id="products_list">
    <%= render products %>
  </div>
  <div class="clear"></div>
</div>